@media (min-width: 1200px) {
    .hidden-72rtr7 {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .hidden-16cvrcw {
        display: none !important;
    }
}

@media (max-width: 767.98px) {
    .hidden-qu0cd6 {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-rxgejt {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .hidden-kvv9pm {
        display: none !important;
    }
}

@media (max-width: 767.98px) {
    .hidden-5bvek7 {
        display: none !important;
    }
}
