html [data-nce-sid="3q7swm"]{
    --border-bottom-width:0px;
    --border-color:var(--token-ab0f4aec-617d-4487-8eb6-875b7e9921d5, rgba(61, 63, 64, 0.12));
    --border-left-width:0px;
    --border-right-width:0px;
    --border-style:solid;
    --border-top-width:0px;
    background-color:rgba(0, 0, 0, 0);
    box-shadow:none;
    gap:20px;
    row-gap:20px;
    column-gap:20px
}

html [data-nce-sid="1sn3w8b"]{
    border:0px none rgb(0, 0, 238);
    gap:6px;
    row-gap:6px;
    column-gap:6px
}

html [data-nce-sid="14jblm0"]{
    --extracted-r6o4lv:var(--token-102cf249-48c3-45f7-99a2-b5ef88eeca5f, rgb(255, 255, 255));
    --framer-link-text-color:rgb(0, 153, 255);
    --framer-link-text-decoration:underline;
    border:0px none rgb(0, 0, 238)
}

html [data-nce-sid="1fzwptm"]{
    --border-bottom-width:0px;
    --border-color:rgba(0, 0, 0, 0);
    --border-left-width:0px;
    --border-right-width:0px;
    --border-style:solid;
    --border-top-width:0px;
    background-color:var(--token-102cf249-48c3-45f7-99a2-b5ef88eeca5f, rgb(255, 255, 255));
    border-radius:30px;
    background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border:0px none rgb(0, 0, 238);
    gap:10px;
    row-gap:10px;
    column-gap:10px
}

html [data-nce-sid="1dbw9bt"]{
    --extracted-r6o4lv:var(--token-9fa21eb1-42a3-4c38-b373-a2df50689971, rgb(61, 63, 64));
    --framer-link-text-color:rgb(0, 153, 255);
    --framer-link-text-decoration:underline;
    border:0px none rgb(0, 0, 238)
}

html [data-nce-sid="1oiurco"]{
    background-color:rgb(206, 147, 69);
    border-radius:16px;
    background:rgb(206, 147, 69) none repeat scroll 0% 0% / auto padding-box border-box;
    border:0px none rgb(0, 0, 238)
}

html [data-nce-sid="1x9l670"]{
    background-color:rgb(206, 147, 69);
    border-radius:100px;
    background:rgb(206, 147, 69) none repeat scroll 0% 0% / auto padding-box border-box;
    border:0px none rgb(0, 0, 238)
}

html [data-nce-sid="eg8fi0"]{
    background-color:rgb(0, 0, 0);
    background:rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    gap:20px;
    row-gap:20px;
    column-gap:20px
}

html [data-nce-sid="17tu8ph"]{
    --extracted-gdpscs:rgb(255, 254, 245);
    --framer-link-text-color:rgb(0, 153, 255);
    --framer-link-text-decoration:underline;
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="a6tfqc"]{
    --extracted-a0htzi:rgb(255, 186, 97);
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="dher0h"]{
    --extracted-1eung3n:var(--token-102cf249-48c3-45f7-99a2-b5ef88eeca5f, rgb(255, 255, 255));
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="1p5hkdn"]{
    --extracted-r6o4lv:var(--token-102cf249-48c3-45f7-99a2-b5ef88eeca5f, rgb(255, 255, 255));
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="1bdmgxz"]{
    background-color:rgb(18, 48, 74);
    background:rgb(18, 48, 74) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius:10px;
    gap:95px;
    row-gap:95px;
    column-gap:95px
}

html [data-nce-sid="o5c3i1"]{
    --extracted-r6o4lv:rgb(255, 255, 255);
    --framer-link-text-color:rgb(0, 153, 255);
    --framer-link-text-decoration:underline
}

html [data-nce-sid="110jmnc"]{
    --border-bottom-width:1px;
    --border-color:rgba(61, 63, 64, 0.12);
    --border-left-width:1px;
    --border-right-width:1px;
    --border-style:solid;
    --border-top-width:1px;
    --fxh5r8:40px;
    background-color:rgba(255, 255, 255, 0);
    border-radius:12px;
    background:rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    gap:18px;
    row-gap:18px;
    column-gap:18px
}

html [data-nce-sid="xys8eu"]{
    --extracted-gdpscs:rgb(206, 147, 69);
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="drmd9k"]{
    --extracted-r6o4lv:var(--token-97797035-d29a-46c3-9e6d-9bcb99b42a75, rgb(246, 247, 249));
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="7hosqc"]{
    --border-bottom-width:1px;
    --border-color:rgba(61, 63, 64, 0.12);
    --border-left-width:1px;
    --border-right-width:1px;
    --border-style:solid;
    --border-top-width:1px;
    --fxh5r8:40px;
    background-color:rgb(245, 242, 215);
    border-radius:12px;
    background:rgb(245, 242, 215) none repeat scroll 0% 0% / auto padding-box border-box;
    gap:18px;
    row-gap:18px;
    column-gap:18px
}

html [data-nce-sid="avziho"]{
    --extracted-gdpscs:var(--token-c0f63a3a-948b-4b0c-947e-db4abc177174, rgb(0, 0, 0));
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="8i78rr"]{
    --extracted-r6o4lv:var(--token-c0f63a3a-948b-4b0c-947e-db4abc177174, rgb(0, 0, 0));
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="1exk45u"]{
    --1mw3opz:58;
    --pykcqt:48px 70px 48px 70px;
    background-color:var(--token-102cf249-48c3-45f7-99a2-b5ef88eeca5f, rgb(255, 255, 255));
    border-radius:20px;
    background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    gap:58px;
    row-gap:58px;
    column-gap:58px
}

html [data-nce-sid="1e1v80t"]{
    --border-bottom-width:1px;
    --border-color:rgba(61, 63, 64, 0.12);
    --border-left-width:0px;
    --border-right-width:0px;
    --border-style:solid;
    --border-top-width:0px;
    gap:23px;
    row-gap:23px;
    column-gap:23px
}

html [data-nce-sid="1n5zg1t"]{
    --extracted-r6o4lv:var(--token-c0f63a3a-948b-4b0c-947e-db4abc177174, rgb(0, 0, 0));
    --framer-link-text-color:rgb(0, 153, 255);
    --framer-link-text-decoration:underline;
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="1sowfwc"]{
    --extracted-r6o4lv:var(--token-9fa21eb1-42a3-4c38-b373-a2df50689971, rgb(61, 63, 64));
    --framer-link-text-color:rgb(0, 153, 255);
    --framer-link-text-decoration:underline;
    --framer-paragraph-spacing:0px
}

html [data-nce-sid="1d00sot"]{
    --border-bottom-width:1px;
    --border-color:rgba(245, 242, 215, 0.14);
    --border-left-width:1px;
    --border-right-width:1px;
    --border-style:solid;
    --border-top-width:1px;
    background-color:rgb(36, 31, 24);
    border-radius:12px;
    background:rgb(36, 31, 24) none repeat scroll 0% 0% / auto padding-box border-box
}

html [data-nce-sid="1vc9v0i"]{
    background:rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
    border:0px outset rgb(0, 0, 0)
}

html [data-nce-sid="1ewccj7"]{
    background-color:rgba(18, 13, 7, 0.46);
    background:rgba(18, 13, 7, 0.46) none repeat scroll 0% 0% / auto padding-box border-box
}

html [data-nce-sid="1x74s2"]{
    background-color:rgba(19, 15, 10, 0.72);
    background:rgba(19, 15, 10, 0.72) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius:18px;
    gap:30px;
    row-gap:30px;
    column-gap:30px
}

html [data-nce-sid="1qg3xdk"]{
    background-color:rgba(19, 15, 10, 0.72);
    background:rgba(19, 15, 10, 0.72) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius:18px;
    gap:36px;
    row-gap:36px;
    column-gap:36px
}

html [data-nce-sid="h05e2t"]{
    --border-bottom-width:0px;
    --border-color:rgba(0, 0, 0, 0);
    --border-left-width:0px;
    --border-right-width:0px;
    --border-style:solid;
    --border-top-width:0px;
    background-color:rgb(206, 147, 69);
    border-radius:30px;
    background:rgb(206, 147, 69) none repeat scroll 0% 0% / auto padding-box border-box;
    border:0px none rgb(0, 0, 238);
    gap:10px;
    row-gap:10px;
    column-gap:10px
}

html [data-nce-sid="brmk3l"]{
    background-color:var(--token-102cf249-48c3-45f7-99a2-b5ef88eeca5f, rgb(255, 255, 255));
    border-radius:16px;
    background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border:0px none rgb(0, 0, 238)
}

html .framer-1vno4xq{
    pointer-events:none !important
}

html [data-framer-name="Instagram"],
html [data-framer-name="Instagram"] a,
html [data-framer-name="Email"],
html [data-framer-name="Email"] a,
html [data-framer-name="Phone"],
html [data-framer-name="Phone"] a{
    pointer-events:auto !important;
    cursor:pointer;
    position:relative;
    z-index:5
}

html .framer-DgToN{
    cursor:pointer !important
}

html .framer-DgToN .framer-1t9zgaj{
    pointer-events:none;
    background-color:rgb(206, 147, 69) !important;
    background:rgb(206, 147, 69) none repeat scroll 0% 0% / auto padding-box border-box !important;
    transition:left .35s cubic-bezier(.22,1,.36,1),width .35s cubic-bezier(.22,1,.36,1),right .35s cubic-bezier(.22,1,.36,1)
}

html .framer-DgToN[data-nce-sid="h05e2t"] .framer-1t9zgaj{
    background-color:rgb(255, 255, 255) !important;
    background:rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box !important
}

html .framer-DgToN .framer-178cdm9{
    transition:color .35s cubic-bezier(.22,1,.36,1)
}

html .framer-DgToN:hover .framer-1typs96,
html .framer-DgToN.hover .framer-1typs96{
    justify-content:flex-end
}

html .framer-DgToN:hover .framer-1t9zgaj,
html .framer-DgToN.hover .framer-1t9zgaj{
    width:unset;
    left:8px
}

html .framer-DgToN[data-nce-sid="h05e2t"]:hover .framer-178cdm9,
html .framer-DgToN[data-nce-sid="h05e2t"].hover .framer-178cdm9{
    --extracted-r6o4lv:var(--token-9fa21eb1-42a3-4c38-b373-a2df50689971, rgb(61, 63, 64))
}

html .framer-DgToN[data-nce-sid="h05e2t"]:hover .framer-text,
html .framer-DgToN[data-nce-sid="h05e2t"].hover .framer-text{
    --framer-text-color:var(--token-9fa21eb1-42a3-4c38-b373-a2df50689971, rgb(61, 63, 64))
}
